table {
    width: 100%;
  }

  h2{
    text-align:center;
  }
  .abc{
    color: red;
  }
  #addBtn{
    position: absolute;
    top: 10;
    right:50px;
  }
  .edit{
    color:blue;
  }
  .btn{
   flex-direction: row-reverse;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

 /*-------------------------------*/



 //--------------------------------------------

