<h2>Meeting Management</h2>

<mat-card>
    <mat-card-title > Meeting Details</mat-card-title>
  <mat-card-content>
   <p> <mat-label>Subject:</mat-label> {{detail.subject}}</p>
    <p> <mat-label>Agenda:</mat-label>  {{detail.agenda}}</p>
    <p> <mat-label>Location:</mat-label> {{detail.location}}</p>
    <p> <mat-label>Date:</mat-label> {{detail.date}}</p>
    <p> <mat-label>Time:</mat-label> {{detail.time}}</p>
    <p> <mat-label>Attendee:</mat-label> {{detail.attendee}}</p>
</mat-card-content> 
</mat-card>